body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 10px;
}

header {
  position: fixed;
  background-color: antiquewhite;
  color: black;
  padding: 1em;
  text-align: center;
}

image {
  width: 150px;
  height: 100px;
}
 
image {
  width: 140px;
  height: 99px;
}
