* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  background: linear-gradient(90deg, #b7b78a 50%, #3c6255 50%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  background-color: white;
  width: 90%;
  height: 90vh;
}

.navbar .logo {
  width: 60px;
  height: 60px;
  background-color: transparent;
  border: 3px solid #3c6255;
  border-radius: 50%;
  border-right-color: transparent;
  position: relative;
}

.navbar .logo::before {
  content: "Beauty";
  color: black;
  font-size: 35px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-10%, -50%);
  font-family: 'Arizonia', cursive;
}

.navbar {
  width: 90%;
  margin: auto;
  height: 15vh;
}

.navbar,
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-bar li {
  list-style: none;
  padding: 20px;
}

.nav-bar a {
  color: black;
  font-size: 18px;
  text-decoration: none;
  position: relative;
}

.nav-bar a::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: black;
  transition: 5s ease-in-out;
}

.nav-bar a:hover::before {
  width: 100%;
}

img {
  width: 900px;
  height: 600px;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.hero img {
  width: 45vw;
}

.content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
  border-left: 3px solid #3c6255;
  padding: 20px 50px;
}

.content,
h3 {
  color: rgb(73, 73, 73);
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.content h1 {
  color: #3c6255;
  font-size: 50px;
}

.content p {
  color: black;
  font-size: 18px;
  line-height: 30px;
}

.content button {
  padding: 15px 30px;
  font-size: 18px;
  color: white;
  border: none;
  background-color: #3c6255;
  cursor: pointer;
}

.content button:hover {
  background-color: white;
  color: #3c6255;
}

@media screen and(max-width: 796px);
{
  .nav-bar {
    display: none;
  }
}
